# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
src/app/features/._triageSlice.tsx
src/app/features/._vitals.tsx
src/components/Doctors/._ActionGrid.tsx
src/components/Doctors/._Dashboard.tsx
src/components/Triage/._Allergies.tsx
src/components/Triage/._note.tsx
src/components/Triage/._Vitals.tsx
src/pages/.__app.tsx
src/pages/hospital/._index.tsx
src/pages/hospital/reception/._index.tsx
src/app/._store.tsx
._package.json
._.gitignore
src/components/Footer/._Index.tsx
src/pages/._index.tsx
src/app/features/._authSlice.tsx
src/components/Triage/._Dashboard.tsx
src/pages/hospital/admin/._index.tsx
